In [1]:
import pandas as pd
df = pd.DataFrame({'angles': [0, 3, 4],
                    'degrees': [360, 180, 360]},
index=['circle', 'triangle', 'rectangle'])

In [2]:
df

           angles  degrees
circle          0      360
triangle        3      180
rectangle       4      360

In [3]:
df+100

           angles  degrees
circle        100      460
triangle      103      280
rectangle     104      460

In [4]:
df.div(10)

           angles  degrees
circle        0.0     36.0
triangle      0.3     18.0
rectangle     0.4     36.0

# Divide by a MultiIndex by level.

In [6]:
df_multindex = pd.DataFrame({'angles': [0, 3, 4, 4, 5, 6],
                              'degrees': [360, 180, 360, 360, 540, 720]},
                             index=[['A', 'A', 'A', 'B', 'B', 'B'],
                                    ['circle', 'triangle', 'rectangle',
                                     'square', 'pentagon', 'hexagon']])

In [8]:
df_multindex

             angles  degrees
A circle          0      360
  triangle        3      180
  rectangle       4      360
B square          4      360
  pentagon        5      540
  hexagon         6      720

In [9]:
df.div(df_multindex, level=1, fill_value=0)

             angles  degrees
A circle        NaN      1.0
  triangle      1.0      1.0
  rectangle     1.0      1.0
B square        0.0      0.0
  pentagon      0.0      0.0
  hexagon       0.0      0.0

In [27]:
from collections import OrderedDict
d = { '123': { 'key1': 3, 'key2': 11, 'key3': 3 },
      '124': { 'key1': 6, 'key2': 56, 'key3': 6 },
      '125': { 'key1': 7, 'key2': 44, 'key3': 9 },
    }

In [28]:
d

{'123': {'key1': 3, 'key2': 11, 'key3': 3},
 '124': {'key1': 6, 'key2': 56, 'key3': 6},
 '125': {'key1': 7, 'key2': 44, 'key3': 9}}

In [ ]:
d_ascending = OrderedDict(sorted(d.items(), key=lambda kv: kv[1]['key3']))

In [29]:
d_descending = OrderedDict(sorted(d.items(), 
                                  key=lambda kv: kv[1]['key3'], reverse=True))

In [30]:
d_descending

OrderedDict([('125', {'key1': 7, 'key2': 44, 'key3': 9}),
             ('124', {'key1': 6, 'key2': 56, 'key3': 6}),
             ('123', {'key1': 3, 'key2': 11, 'key3': 3})])

In [31]:
a1 = {'a':1, 'b':13, 'd':4, 'c':2, 'e':30}
a1_sorted_keys = sorted(a1, key=a1.get, reverse=True)
for r in a1_sorted_keys:
    print(r, a1[r])

e 30
b 13
d 4
c 2
a 1