In [1]:
import json
import requests
from bs4 import BeautifulSoup
import pandas as pd
from pandas.io.json import json_normalize

20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [2]:
url = 'https://www.emsc-csem.org/Earthquake/'
html=requests.get(url).content
soup = BeautifulSoup(html, "lxml")
#print(soup.prettify())
#list(soup.children) select all the elements at the top level of the page

In [3]:
tbody= soup.find('tbody', {'id':'tbody'})

In [4]:
rows = tbody.find_all('tr')
len(rows)

50

In [5]:
rows_parsed = [x.text.split("\xa0") for x in rows]
set([len(x) for x in rows_parsed])
# verification de nombre d'elements dans la table

{11}

In [9]:
df = pd.DataFrame(rows_parsed)
for x in df.columns:
    
    print(x)
    print(df[x].iloc[3])
    print("NEXT COL")

0
earthquake2019-07-29
NEXT COL
1

NEXT COL
2

NEXT COL
3
18:34:30.038min ago1.33
NEXT COL
4
N
NEXT COL
5

NEXT COL
6
120.40
NEXT COL
7
E
NEXT COL
8

NEXT COL
9
10 M4.3
NEXT COL
10
MINAHASA, SULAWESI, INDONESIA2019-07-29 18:45
NEXT COL

In [11]:
df['0_parsed'] = df[0].map(lambda x : x.split("ke"))

In [12]:
# c'est la date
df['0_parsed_0'] = df['0_parsed'].map(lambda x :x[0])
df['0_parsed_1'] = df['0_parsed'].map(lambda x :x[1])

In [13]:
df['3_parsed'] = df[3].map(lambda x : x.split("min ago"))

# c'est la date
df['3_parsed_0'] = df['3_parsed'].map(lambda x :x[0])
df['3_parsed_1'] = df['3_parsed'].map(lambda x :x[1])

In [29]:
dropcols=['0_parsed_0', '3_parsed', '0_parsed']
nouvelle_df = df.drop(dropcols, axis=1)

In [30]:
dropcols=[0,1,2, 3, 9]
nouvelle_df_1 = nouvelle_df.drop(dropcols, axis=1)
nouvelle_df_1.head(4)

,4,5,6,7,8,10,0_parsed_1,3_parsed_0,3_parsed_1
0,N,,117.71,W,,CENTRAL CALIFORNIA2019-07-29 18:51,2019-07-29,18:49:10.523,35.86
1,N,,113.20,W,,UTAH2019-07-29 18:57,2019-07-29,18:46:40.625,37.81
2,N,,117.70,W,,CENTRAL CALIFORNIA2019-07-29 18:38,2019-07-29,18:34:39.737,35.88
3,N,,120.40,E,,"MINAHASA, SULAWESI, INDONESIA2019-07-29 18:45",2019-07-29,18:34:30.038,1.33

In [32]:
columns=[{'3_parsed_1': 'Latitude'}]

TypeError: 'DataFrame' object is not callable