# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
import numpy as np
import pandas as pd

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset.

In [131]:
admissions = pd.read_csv('../Admission_Predict.csv')
#to remove trailing spaces at the end of the column names
admissions.columns = admissions.columns.str.rstrip()

Let's evaluate the dataset by looking at the `head` function.

In [132]:
admissions.head(2)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [133]:
admissions.isnull().values.any()

False

In [134]:
admissions.isnull().sum().sum()

0

In [135]:
admissions.shape

(385, 9)

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [136]:
admissions.set_index('Serial No.', drop=False).head(2)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,,
1,1,337,118,4,4.5,4.5,9.65,1,0.92
2,2,316,104,3,3.0,3.5,8.00,1,0.72

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [137]:
# pouver que les deux colonnes sont toutes differentes
pd.unique(admissions[['GRE Score', 'CGPA']].values.ravel('K'))

array([337.  , 316.  , 322.  , 314.  , 330.  , 321.  , 308.  , 302.  ,
       323.  , 327.  , 328.  , 307.  , 311.  , 317.  , 319.  , 318.  ,
       303.  , 325.  , 334.  , 336.  , 298.  , 295.  , 310.  , 300.  ,
       338.  , 340.  , 331.  , 320.  , 299.  , 304.  , 313.  , 332.  ,
       326.  , 329.  , 339.  , 312.  , 324.  , 309.  , 315.  , 301.  ,
       296.  , 294.  , 306.  , 305.  , 290.  , 335.  , 333.  , 297.  ,
       293.  ,   9.65,   8.  ,   8.67,   8.21,   9.34,   8.2 ,   7.9 ,
         8.6 ,   9.  ,   9.1 ,   8.3 ,   8.7 ,   8.8 ,   8.5 ,   8.4 ,
         9.5 ,   9.7 ,   9.8 ,   7.5 ,   7.2 ,   7.3 ,   8.1 ,   9.4 ,
         9.6 ,   9.2 ,   7.8 ,   7.7 ,   9.3 ,   8.85,   7.4 ,   7.6 ,
         6.8 ,   8.92,   9.02,   8.64,   9.22,   9.16,   9.64,   9.76,
         9.45,   9.04,   8.9 ,   8.56,   8.72,   8.22,   7.54,   7.36,
         8.02,   9.36,   8.66,   8.42,   8.28,   8.14,   7.92,   7.66,
         8.03,   7.88,   7.84,   8.96,   9.24,   8.88,   8.46,   8.12,
         8.25,   8.47,   9.05,   8.78,   9.18,   9.46,   9.38,   8.48,
         8.68,   8.34,   8.45,   8.62,   7.46,   7.28,   8.84,   9.56,
         9.48,   8.36,   9.32,   8.71,   9.35,   8.65,   9.28,   8.77,
         8.16,   9.08,   9.12,   9.15,   9.44,   9.92,   9.11,   8.26,
         9.43,   9.06,   8.75,   8.89,   8.69,   7.86,   9.01,   8.97,
         8.33,   8.27,   7.98,   8.04,   9.07,   9.13,   9.23,   8.87,
         8.98,   8.94,   9.53,   8.76,   8.52,   8.54,   9.91,   9.87,
         7.65,   7.89,   9.14,   9.66,   9.78,   9.42,   9.26,   8.23,
         8.07,   9.31,   9.17,   9.19,   8.37,   7.68,   8.15,   8.73,
         8.83,   8.57,   9.68,   8.09,   8.79,   8.17,   7.64,   8.01,
         7.95,   8.49,   7.87,   7.97,   8.18,   8.32,   8.55,   8.43,
         8.53,   8.74,   8.44,   9.47,   8.24,   8.13,   7.34,   7.43,
         7.25,   8.06,   7.67,   9.54,   9.62,   7.56,   9.74,   9.82,
         7.96])

In [138]:
admissions['GRE Score'].isin(['CGPA'])

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
355    False
356    False
357    False
358    False
359    False
360    False
361    False
362    False
363    False
364    False
365    False
366    False
367    False
368    False
369    False
370    False
371    False
372    False
373    False
374    False
375    False
376    False
377    False
378    False
379    False
380    False
381    False
382    False
383    False
384    False
Name: GRE Score, Length: 385, dtype: bool

In [139]:
admissions['GRE Score'].equals(['CGPA'])

False

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

pandas.DataFrame.set_index  
Parameter: inplace : bool, default False
Modify the DataFrame in place (do not create a new object).

In [140]:
admissions.set_index(['GRE Score', 'CGPA'], inplace=True)

In [141]:
admissions.head(5)

,,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
GRE Score,CGPA,,,,,,,
337,9.65,1,118,4,4.5,4.5,1,0.92
316,8.00,2,104,3,3.0,3.5,1,0.72
322,8.67,3,110,3,3.5,2.5,1,0.80
314,8.21,4,103,2,2.0,3.0,0,0.65
330,9.34,5,115,5,4.5,3.0,1,0.90

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [142]:
admissions.reset_index(inplace=True)

In [143]:
admissions.head(5)

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,337,9.65,1,118,4,4.5,4.5,1,0.92
1,316,8.00,2,104,3,3.0,3.5,1,0.72
2,322,8.67,3,110,3,3.5,2.5,1,0.80
3,314,8.21,4,103,2,2.0,3.0,0,0.65
4,330,9.34,5,115,5,4.5,3.0,1,0.90

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [144]:
admissions.get((admissions['CGPA']>9) & (admissions['Research']==1))

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,337,9.65,1,118,4,4.5,4.5,1,0.92
4,330,9.34,5,115,5,4.5,3.0,1,0.90
10,328,9.10,11,112,4,4.0,4.5,1,0.78
19,328,9.50,20,116,5,5.0,5.0,1,0.94
20,334,9.70,21,119,5,5.0,4.5,1,0.95
21,336,9.80,22,119,5,4.0,3.5,1,0.97
28,338,9.40,29,118,4,3.0,4.5,1,0.91
29,340,9.60,30,114,5,4.0,4.0,1,0.90
30,331,9.80,31,112,5,4.0,5.0,1,0.94
31,320,9.20,32,110,5,5.0,5.0,1,0.88
40,326,9.40,41,113,5,4.5,4.0,1,0.91
41,322,9.10,42,110,5,5.0,4.0,1,0.88
42,329,9.30,43,114,5,4.0,5.0,1,0.86
64,318,9.22,65,109,3,3.5,4.0,1,0.68
65,328,9.16,66,115,4,4.5,4.0,1,0.78
66,332,9.64,67,118,5,5.0,5.0,1,0.94
67,336,9.76,68,112,5,5.0,5.0,1,0.96
68,321,9.45,69,111,5,5.0,5.0,1,0.93
69,314,9.04,70,108,4,4.5,4.0,1,0.84
77,340,9.50,78,120,4,5.0,5.0,1,0.96
78,320,9.22,79,110,5,5.0,4.5,1,0.92
79,322,9.36,80,115,5,4.0,4.5,1,0.92
80,340,9.45,81,115,5,4.5,4.5,1,0.94
93,332,9.24,94,119,4,5.0,4.5,1,0.90
99,326,9.05,100,112,3,3.5,3.0,1,0.74
101,329,9.18,102,111,4,4.5,4.5,1,0.87
102,338,9.46,103,117,4,3.5,4.5,1,0.91
103,331,9.38,104,116,5,5.0,5.0,1,0.93
110,310,9.04,111,106,4,4.5,4.5,1,0.66
115,335,9.56,116,117,5,5.0,5.0,1,0.94
...,...,...,...,...,...,...,...,...,...
231,325,9.04,232,114,3,3.5,3.0,1,0.76
233,328,9.02,234,110,4,4.0,2.5,1,0.81
241,335,9.68,242,115,4,4.5,4.5,1,0.93
246,331,9.34,247,119,4,5.0,4.5,1,0.90
247,327,9.13,248,108,5,5.0,3.5,1,0.87
263,329,9.45,264,113,5,5.0,4.5,1,0.89
268,317,9.11,269,110,3,4.0,4.5,1,0.80
271,340,9.66,272,112,4,5.0,4.5,1,0.94
272,331,9.26,273,116,5,4.0,4.0,1,0.93
273,336,9.19,274,118,5,4.5,4.0,1,0.92
274,324,9.08,275,114,5,5.0,4.5,1,0.89
285,330,9.24,286,114,3,4.5,4.5,1,0.90
293,323,9.10,294,110,3,4.0,3.5,1,0.79
298,328,9.18,299,108,4,4.5,4.0,1,0.84
311,326,9.14,312,116,3,3.5,4.0,1,0.81
322,332,9.47,323,118,5,5.0,5.0,1,0.94
346,334,9.54,347,116,4,4.0,3.5,1,0.93
347,338,9.23,348,115,5,4.5,5.0,1,0.91
350,330,9.17,351,114,4,4.5,3.0,1,0.86
356,324,9.22,357,110,3,3.5,3.0,1,0.89
357,336,9.62,358,119,4,4.5,4.0,1,0.95
367,324,9.15,368,110,4,4.5,4.0,1,0.82
369,340,9.74,370,113,4,5.0,5.0,1,0.96
370,335,9.82,371,117,5,5.0,5.0,1,0.96
377,326,9.12,378,112,4,4.0,3.5,1,0.84
379,329,9.23,380,111,4,4.5,4.0,1,0.89
380,324,9.04,381,110,3,3.5,3.5,1,0.82
381,325,9.11,382,107,3,3.0,3.5,1,0.84
382,330,9.45,383,116,4,5.0,4.5,1,0.91
384,333,9.66,385,117,4,5.0,4.0,1,0.95

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [145]:
admissions.get((admissions['CGPA']>9) & (admissions['SOP']<3.5))['Chance of Admit'].mean()
# the chance of being admitted for these students : the mean is less then for previous group of students, where mean is 0.88

0.8019999999999999

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [100]:
def standardize(col):
    # This function takes a column from a dataframe and returns a standardized column by subtracting the column's mean
    # and dividing by the column's standard deviation.
    
    # Your code here:
    return np.mean(col)/np.std(col)
# verification: np.mean(admissions['GRE Score'])/np.std(admissions['GRE Score']) == 27.436755834195598

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [39]:
#admissions['CGPA_std', 'GRE_std', 'LOR_std']=admissions['CGPA', 'GRE Score','LOR'].apply(standardize) - Need to find anouther elegant way

In [147]:
admissions.assign(CGPA_std=standardize(admissions['CGPA']), GRE_std=standardize(admissions['GRE Score']), LOR_std=standardize(admissions['LOR'])).head(3)

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std
0,337,9.65,1,118,4,4.5,4.5,1,0.92,14.290318,27.436756,3.83041
1,316,8.00,2,104,3,3.0,3.5,1,0.72,14.290318,27.436756,3.83041
2,322,8.67,3,110,3,3.5,2.5,1,0.80,14.290318,27.436756,3.83041

We will generate the decision choice at random using the code below. Please run the cell.

In [150]:
# Run this code:

from random import choices
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=admissions.shape[0])

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [11]:
# Your code here:

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [12]:
# Your code here:

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [13]:
# Your code here:

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [121]:
admissions.columns=[x.replace(' ', '_') for x in admissions.columns]

In [122]:
admissions.columns

Index(['Serial_No.', 'GRE_Score', 'TOEFL_Score', 'University_Rating', 'SOP',
       'LOR', 'CGPA', 'Research', 'Chance_of_Admit', 'CGPA_std'],
      dtype='object')

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [15]:
# Your code here: