# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
import numpy as np
import pandas as pd

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [27]:
orders = pd.read_csv("../../lab-subsetting-and-descriptive-stats/your-code/Orders.csv")
orders.shape

(397924, 14)

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [3]:
test=orders.groupby(['CustomerID']).sum()#Length: 4339

In [4]:
test
#aggregate the  amount_spent for unique customers Method 1

,Unnamed: 0,InvoiceNo,year,month,day,hour,Quantity,UnitPrice,amount_spent
CustomerID,,,,,,,,,
12346,61619,541431,2011,1,2,10,74215,1.04,77183.60
12347,42441700,101296926,365971,1383,441,2219,2458,481.21,4310.00
12348,2807120,16869685,62324,257,111,472,2341,178.71,1797.24
12349,35444274,42165457,146803,803,73,657,631,605.10,1757.55
12350,1365627,9231629,34187,34,51,272,197,65.30,334.40
12352,22083029,47523155,170935,552,243,1193,536,1354.11,2506.04
12353,789490,2215600,8044,20,16,68,20,24.30,89.00
12354,9645139,31952838,116638,232,232,754,530,261.22,1079.40
12355,2354898,7181837,26143,65,13,169,240,54.65,459.40
12356,6327889,32183405,118649,142,185,592,1591,188.87,2811.43
12357,58262250,75290940,263441,1441,917,2096,2708,438.67,6207.67
12358,6875641,10785108,38209,168,52,190,248,157.21,1168.06
12359,59103884,138190725,498728,1508,783,3136,1622,2137.86,6372.58
12360,40078779,72720480,259419,1005,303,1515,1165,457.91,2662.06
12361,1023825,5450170,20110,20,50,130,91,33.35,189.90
12362,89983124,150505851,534926,2189,944,3192,2229,1048.29,5226.23
12363,4601661,12742621,46253,120,23,278,408,53.17,552.00
12364,34584128,48585756,170935,834,467,1142,1506,162.37,1313.10
12365,2126622,11980632,44242,44,22,287,174,377.31,641.38
12367,5801279,6387876,22121,132,11,176,173,35.20,168.90
12370,19741841,91269866,335746,1516,482,2036,2353,467.65,3545.69
12371,24627832,35945072,126693,630,127,630,591,244.08,1887.96
12372,10126917,28780365,104572,252,169,586,794,156.07,1298.04
12373,1098965,7600418,28154,28,28,182,197,64.15,364.60
12374,15425982,19019385,66363,363,33,495,342,139.25,742.93
12375,6614987,9694349,34187,165,67,214,178,117.52,457.50
12377,4192414,41645908,154804,550,213,897,944,209.35,1628.12
12378,62845116,123088074,440409,1752,438,2190,2529,656.44,4008.62
12379,11671160,22499700,80440,300,80,520,407,114.65,852.24
12380,35019973,58857949,209144,885,384,1240,1127,351.38,2724.81
...,...,...,...,...,...,...,...,...,...
18242,24125102,43978085,156858,598,259,1005,1017,255.83,2232.49
18245,46080822,97811122,351898,1393,724,2189,1788,452.27,2567.06
18246,1275022,2254900,8044,30,12,48,166,18.84,596.10
18248,11624597,26249884,94517,320,66,554,511,192.97,804.02
18249,3923916,4624464,16088,88,16,120,128,12.83,95.34
18250,1677123,11403210,42231,42,63,273,199,79.92,349.27
18251,5431304,9065520,32176,144,32,240,7824,12.35,4314.72
18252,39593311,56018313,197078,968,386,1173,239,306.65,526.67
18255,2008089,3397590,12066,54,42,78,74,10.30,103.30
18257,33295472,66233488,237298,853,280,1536,1041,401.63,2337.63
18259,13890450,23741242,84455,427,133,553,714,136.90,2338.60
18260,18050916,73457520,269463,577,436,1616,1478,469.94,2643.20
18261,7425414,11920593,42231,195,39,225,146,64.74,324.24
18262,3585244,7293130,26143,91,65,208,182,14.60,149.48
18263,17183517,34221932,122671,446,211,609,1468,58.53,1213.16
18265,13428576,25875283,92506,356,80,673,311,241.34,801.51
18268,282994,561680,2011,7,4,19,2,12.75,25.50
18269,127939,3764719,14070,84,21,91,76,22.15,168.60
18270,3220467,6178283,22121,81,37,138,101,40.40,283.15
18272,49405922,93342091,333826,1221,509,2107,2050,380.91,3078.58
18273,994915,1694459,6033,24,11,35,80,7.65,204.00
18274,4989182,6330335,22121,121,33,187,88,40.39,175.92
18276,5900867,8021860,28154,140,56,140,186,34.75,335.86
18277,3151220,4566872,16088,80,24,120,68,25.13,110.38
18278,3262446,5116428,18099,81,18,99,66,29.55,173.90
18280,1110495,5457120,20110,30,10,90,45,47.65,180.60
18281,1560699,3895248,14077,42,49,70,54,39.36,80.82
18282,4642134,6838540,24132,116,60,146,103,62.39,178.05
18283,233950830,425704048,1520316,5503,2489,10346,1397,1220.93,2094.88
18287,21958901,39474556,140770,555,332,697,1586,104.55,1837.28

In [5]:
test['amount_spent'].describe()

count      4339.000000
mean       2053.793018
std        8988.248381
min           0.000000
25%         307.245000
50%         674.450000
75%        1661.640000
max      280206.020000
Name: amount_spent, dtype: float64

In [6]:
test['amount_spent'].quantile([0.75, 0.95])

0.75    1661.640
0.95    5840.182
Name: amount_spent, dtype: float64

In [7]:
#aggregate the  amount_spent for unique customers Method 2
#orders.groupby(['CustomerID', 'Country'])['amount_spent'].agg(['sum', 'mean', 'std', 'median']).sort_values(by='sum', ascending=False).head(10)

In [8]:
aggregated_sum=orders.pivot_table(index=["CustomerID"], values=["amount_spent"], aggfunc=('sum'))
#aggregate the  amount_spent for unique customers Method 3
# Il ne faut faut faire enchainer les methodes sort_values, sinon suelemtnune partie des donnes apparait ????

In [9]:
aggregated_sum

            amount_spent
CustomerID
12346           77183.60
12347            4310.00
12348            1797.24
12349            1757.55
12350             334.40
12352            2506.04
12353              89.00
12354            1079.40
12355             459.40
12356            2811.43
12357            6207.67
12358            1168.06
12359            6372.58
12360            2662.06
12361             189.90
12362            5226.23
12363             552.00
12364            1313.10
12365             641.38
12367             168.90
12370            3545.69
12371            1887.96
12372            1298.04
12373             364.60
12374             742.93
12375             457.50
12377            1628.12
12378            4008.62
12379             852.24
12380            2724.81
...                  ...
18242            2232.49
18245            2567.06
18246             596.10
18248             804.02
18249              95.34
18250             349.27
18251            4314.72
18252             526.67
18255             103.30
18257            2337.63
18259            2338.60
18260            2643.20
18261             324.24
18262             149.48
18263            1213.16
18265             801.51
18268              25.50
18269             168.60
18270             283.15
18272            3078.58
18273             204.00
18274             175.92
18276             335.86
18277             110.38
18278             173.90
18280             180.60
18281              80.82
18282             178.05
18283            2094.88
18287            1837.28

[4339 rows x 1 columns]

SUB Problem 2: How to select customers whose aggregated amount_spent is in a given quantile range?

In [10]:
aggregated_sum.amount_spent.quantile([.75, 0.95])
# the quantile per sum

0.75    1661.640
0.95    5840.182
Name: amount_spent, dtype: float64

In [11]:
vip = aggregated_sum[aggregated_sum['amount_spent'] > aggregated_sum['amount_spent'].quantile(0.95)]
# Dataframe que avec des lignes ou amount_spent >0.95 quantile

In [12]:
vip.head(3)

            amount_spent
CustomerID
12346           77183.60
12357            6207.67
12359            6372.58

In [13]:
listVIP = vip.index.values.tolist()
listVIP

[12346,
 12357,
 12359,
 12409,
 12415,
 12428,
 12431,
 12433,
 12435,
 12451,
 12471,
 12472,
 12474,
 12476,
 12477,
 12536,
 12540,
 12557,
 12567,
 12583,
 12590,
 12621,
 12626,
 12637,
 12678,
 12681,
 12682,
 12683,
 12705,
 12709,
 12731,
 12744,
 12748,
 12753,
 12757,
 12766,
 12798,
 12830,
 12901,
 12921,
 12931,
 12939,
 12971,
 12980,
 12989,
 13001,
 13018,
 13027,
 13078,
 13081,
 13089,
 13090,
 13093,
 13097,
 13098,
 13102,
 13113,
 13199,
 13209,
 13225,
 13263,
 13316,
 13319,
 13324,
 13340,
 13408,
 13418,
 13458,
 13488,
 13534,
 13576,
 13629,
 13668,
 13694,
 13709,
 13767,
 13777,
 13798,
 13854,
 13871,
 13881,
 13969,
 13985,
 14031,
 14051,
 14056,
 14057,
 14060,
 14062,
 14088,
 14096,
 14101,
 14156,
 14194,
 14258,
 14298,
 14367,
 14415,
 14505,
 14527,
 14606,
 14607,
 14646,
 14667,
 14680,
 14733,
 14735,
 14769,
 14796,
 14849,
 14866,
 14895,
 14911,
 14936,
 14944,
 14952,
 14961,
 15005,
 15023,
 15039,
 15044,
 15061,
 15078,
 15098,
 15125,
 15144,
 15159,
 15189,
 15194,
 15249,
 15251,
 15290,
 15311,
 15358,
 15382,
 15465,
 15482,
 15498,
 15502,
 15513,
 15601,
 15615,
 15640,
 15694,
 15749,
 15769,
 15838,
 15856,
 15939,
 16000,
 16013,
 16029,
 16033,
 16126,
 16133,
 16180,
 16182,
 16187,
 16210,
 16333,
 16353,
 16422,
 16446,
 16523,
 16525,
 16532,
 16558,
 16652,
 16656,
 16672,
 16684,
 16705,
 16713,
 16729,
 16745,
 16746,
 16779,
 16814,
 16839,
 16843,
 16873,
 16923,
 17017,
 17107,
 17139,
 17243,
 17306,
 17315,
 17338,
 17340,
 17381,
 17389,
 17396,
 17404,
 17416,
 17428,
 17450,
 17509,
 17511,
 17581,
 17675,
 17677,
 17706,
 17735,
 17811,
 17841,
 17857,
 17865,
 17949,
 18055,
 18092,
 18102,
 18109,
 18139,
 18172,
 18223,
 18229]

In [14]:
len(listVIP)

217

In [15]:
aggregated_sum['Quantile_rank']=pd.qcut(aggregated_sum['amount_spent'],4,labels=False)
#une autre methode à explorer, faire un filtre sur les lignes avec rank 3

In [16]:
preffered = aggregated_sum[(aggregated_sum['amount_spent']  > aggregated_sum['amount_spent'].quantile(0.75)) & (aggregated_sum['amount_spent'] < aggregated_sum['amount_spent'].quantile(0.95)) ]

In [17]:
lstpreffered=list(preffered.index.values)  # deuxieme methode pour recuperer la liste des index == CustomerID dans ce cas la.

In [18]:
len(lstpreffered)

868

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q2 below:

In [19]:
aggregated_sum_country=orders.pivot_table(index=["Country"], values=["amount_spent"], aggfunc=('sum')).sort_values(by='amount_spent', ascending=False)

In [20]:
aggregated_sum_country.head(3)
# by total  amount spent, but not by number of  VIP customers

                amount_spent
Country
United Kingdom  7.308392e+06
Netherlands     2.854463e+05
EIRE            2.655459e+05

In [40]:
orders['Customer_Type'] = np.where((orders['CustomerID'].isin(lstpreffered)), 'Preferred', 'norm')
orders['Customer_Type'] = np.where((orders['CustomerID'].isin(listVIP)), 'VIP', orders['Customer_Type'])                              
orders

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent,Customer_Type
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,Preferred
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,Preferred
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,Preferred
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,Preferred
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,Preferred
5,5,536365,22752,2010,12,3,8,set 7 babushka nesting boxes,2,2010-12-01 08:26:00,7.65,17850,United Kingdom,15.30,Preferred
6,6,536365,21730,2010,12,3,8,glass star frosted t-light holder,6,2010-12-01 08:26:00,4.25,17850,United Kingdom,25.50,Preferred
7,7,536366,22633,2010,12,3,8,hand warmer union jack,6,2010-12-01 08:28:00,1.85,17850,United Kingdom,11.10,Preferred
8,8,536366,22632,2010,12,3,8,hand warmer red polka dot,6,2010-12-01 08:28:00,1.85,17850,United Kingdom,11.10,Preferred
9,9,536367,84879,2010,12,3,8,assorted colour bird ornament,32,2010-12-01 08:34:00,1.69,13047,United Kingdom,54.08,Preferred
10,10,536367,22745,2010,12,3,8,poppy's playhouse bedroom,6,2010-12-01 08:34:00,2.10,13047,United Kingdom,12.60,Preferred
11,11,536367,22748,2010,12,3,8,poppy's playhouse kitchen,6,2010-12-01 08:34:00,2.10,13047,United Kingdom,12.60,Preferred
12,12,536367,22749,2010,12,3,8,feltcraft princess charlotte doll,8,2010-12-01 08:34:00,3.75,13047,United Kingdom,30.00,Preferred
13,13,536367,22310,2010,12,3,8,ivory knitted mug cosy,6,2010-12-01 08:34:00,1.65,13047,United Kingdom,9.90,Preferred
14,14,536367,84969,2010,12,3,8,box of 6 assorted colour teaspoons,6,2010-12-01 08:34:00,4.25,13047,United Kingdom,25.50,Preferred
15,15,536367,22623,2010,12,3,8,box of vintage jigsaw blocks,3,2010-12-01 08:34:00,4.95,13047,United Kingdom,14.85,Preferred
16,16,536367,22622,2010,12,3,8,box of vintage alphabet blocks,2,2010-12-01 08:34:00,9.95,13047,United Kingdom,19.90,Preferred
17,17,536367,21754,2010,12,3,8,home building block word,3,2010-12-01 08:34:00,5.95,13047,United Kingdom,17.85,Preferred
18,18,536367,21755,2010,12,3,8,love building block word,3,2010-12-01 08:34:00,5.95,13047,United Kingdom,17.85,Preferred
19,19,536367,21777,2010,12,3,8,recipe box with metal heart,4,2010-12-01 08:34:00,7.95,13047,United Kingdom,31.80,Preferred
20,20,536367,48187,2010,12,3,8,doormat new england,4,2010-12-01 08:34:00,7.95,13047,United Kingdom,31.80,Preferred
21,21,536368,22960,2010,12,3,8,jam making set with jars,6,2010-12-01 08:34:00,4.25,13047,United Kingdom,25.50,Preferred
22,22,536368,22913,2010,12,3,8,red coat rack paris fashion,3,2010-12-01 08:34:00,4.95,13047,United Kingdom,14.85,Preferred
23,23,536368,22912,2010,12,3,8,yellow coat rack paris fashion,3,2010-12-01 08:34:00,4.95,13047,United Kingdom,14.85,Preferred
24,24,536368,22914,2010,12,3,8,blue coat rack paris fashion,3,2010-12-01 08:34:00,4.95,13047,United Kingdom,14.85,Preferred
25,25,536369,21756,2010,12,3,8,bath building block word,3,2010-12-01 08:35:00,5.95,13047,United Kingdom,17.85,Preferred
26,26,536370,22728,2010,12,3,8,alarm clock bakelike pink,24,2010-12-01 08:45:00,3.75,12583,France,90.00,VIP
27,27,536370,22727,2010,12,3,8,alarm clock bakelike red,24,2010-12-01 08:45:00,3.75,12583,France,90.00,VIP
28,28,536370,22726,2010,12,3,8,alarm clock bakelike green,12,2010-12-01 08:45:00,3.75,12583,France,45.00,VIP
29,29,536370,21724,2010,12,3,8,panda and bunnies sticker sheet,12,2010-12-01 08:45:00,0.85,12583,France,10.20,VIP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397894,541879,581585,22726,2011,12,5,12,alarm clock bakelike green,8,2011-12-09 12:31:00,3.75,15804,United Kingdom,30.00,Preferred
397895,541880,581585,22727,2011,12,5,12,alarm clock bakelike red,4,2011-12-09 12:31:00,3.75,15804,United Kingdom,15.00,Preferred
397896,541881,581585,16016,2011,12,5,12,large chinese style scissor,10,2011-12-09 12:31:00,0.85,15804,United Kingdom,8.50,Preferred
397897,541882,581585,21916,2011,12,5,12,set 12 retro white chalk sticks,24,2011-12-09 12:31:00,0.42,15804,United Kingdom,10.08,Preferred
397898,541883,581585,84692,2011,12,5,12,box of 24 cocktail parasols,25,2011-12-09 12:31:00,0.42,15804,United Kingdom,10.50,Preferred
397899,541884,581585,84946,2011,12,5,12,antique silver t-light glass,12,2011-12-09 12:31:00,1.25,15804,United Kingdom,15.00,Preferred
397900,541885,581585,21684,2011,12,5,12,small medina stamped metal bowl,12,2011-12-09 12:31:00,0.85,15804,United Kingdom,10.20,Preferred
397901,541886,581585,22398,2011,12,5,12,magnets pack of 4 swallows,12,2011-12-09 12:31:00,0.39,15804,United Kingdom,4.68,Preferred
397902,541887,581585,23328,2011,12,5,12,set 6 school milk bottles in crate,4,2011-12-09 12:31:00,3.75,15804,United Kingdom,15.00,Preferred
397903,541888,581585,23145,2011,12,5,12,zinc t-light holder star large,12,2011-12-09 12:31:00,0.95,15804,United Kingdom,11.40,Preferred
397904,541889,581585,22466,2011,12,5,12,fairy tale cottage night light,12,2011-12-09 12:31:00,1.95,15804,United Kingdom,23.40,Preferred
397905,541890,581586,22061,2011,12,5,12,large cake stand hanging strawbery,8,2011-12-09 12:49:00,2.95,13113,United Kingdom,23.60,VIP
397906,541891,581586,23275,2011,12,5,12,set of 3 hanging owls ollie beak,24,2011-12-09 12:49:00,1.25,13113,United Kingdom,30.00,VIP
397907,541892,581586,21217,2011,12,5,12,red retrospot round cake tins,24,2011-12-09 12:49:00,8.95,13113,United Kingdom,214.80,VIP
397908,541893,581586,20685,2011,12,5,12,doormat red retrospot,10,2011-12-09 12:49:00,7.08,13113,United Kingdom,70.80,VIP
397909,541894,581587,22631,2011,12,5,12,circus parade lunch box,12,2011-12-09 12:50:00,1.95,12680,France,23.40,norm
397910,541895,581587,22556,2011,12,5,12,plasters in tin circus parade,12,2011-12-09 12:50:00,1.65,12680,France,19.80,norm
397911,541896,581587,22555,2011,12,5,12,plasters in tin strongman,12,2011-12-09 12:50:00,1.65,12680,France,19.80,norm
397912,541897,581587,22728,2011,12,5,12,alarm clock bakelike pink,4,2011-12-09 12:50:00,3.75,12680,France,15.00,norm
397913,541898,581587,22727,2011,12,5,12,alarm clock bakelike red,4,2011-12-09 12:50:00,3.75,12680,France,15.00,norm
397914,541899,581587,22726,2011,12,5,12,alarm clock bakelike green,4,2011-12-09 12:50:00,3.75,12680,France,15.00,norm
397915,541900,581587,22730,2011,12,5,12,alarm clock bakelike ivory,4,2011-12-09 12:50:00,3.75,12680,France,15.00,norm
397916,541901,581587,22367,2011,12,5,12,childrens apron spaceboy design,8,2011-12-09 12:50:00,1.95,12680,France,15.60,norm
397917,541902,581587,22629,2011,12,5,12,spaceboy lunch box,12,2011-12-09 12:50:00,1.95,12680,France,23.40,norm
397918,541903,581587,23256,2011,12,5,12,childrens cutlery spaceboy,4,2011-12-09 12:50:00,4.15,12680,France,16.60,norm
397919,541904,581587,22613,2011,12,5,12,pack of 20 spaceboy napkins,12,2011-12-09 12:50:00,0.85,12680,France,10.20,norm
397920,541905,581587,22899,2011,12,5,12,children's apron dolly girl,6,2011-12-09 12:50:00,2.10,12680,France,12.60,norm
397921,541906,581587,23254,2011,12,5,12,childrens cutlery dolly girl,4,2011-12-09 12:50:00,4.15,12680,France,16.60,norm
397922,541907,581587,23255,2011,12,5,12,childrens cutlery circus parade,4,2011-12-09 12:50:00,4.15,12680,France,16.60,norm
397923,541908,581587,22138,2011,12,5,12,baking set 9 piece retrospot,3,2011-12-09 12:50:00,4.95,12680,France,14.85,norm

In [53]:
grouped=orders.pivot_table(index=['Country', 'Customer_Type'], values=['amount_spent'], aggfunc='count')

In [55]:
grouped

                                    amount_spent
Country              Customer_Type
Australia            Preferred               130
                     VIP                     898
                     norm                    157
Austria              Preferred               158
                     norm                    240
Bahrain              norm                     17
Belgium              Preferred              1503
                     VIP                      54
                     norm                    474
Brazil               norm                     32
Canada               Preferred               135
                     norm                     16
Channel Islands      Preferred               225
                     VIP                     364
                     norm                    159
Cyprus               Preferred               203
                     VIP                     248
                     norm                    163
Czech Republic       norm                     25
Denmark              Preferred               181
                     VIP                      36
                     norm                    163
EIRE                 Preferred               161
                     VIP                    7077
European Community   norm                     60
Finland              Preferred               210
                     VIP                     294
                     norm                    181
France               Preferred              3011
                     VIP                    3290
...                                          ...
Malta                Preferred                67
                     norm                     45
Netherlands          VIP                    2080
                     norm                    283
Norway               Preferred               608
                     VIP                     420
                     norm                     44
Poland               Preferred               149
                     norm                    181
Portugal             Preferred               412
                     VIP                     681
                     norm                    369
RSA                  norm                     58
Saudi Arabia         norm                      9
Singapore            VIP                     222
Spain                Preferred              1058
                     VIP                     511
                     norm                    916
Sweden               Preferred                75
                     VIP                     198
                     norm                    178
Switzerland          Preferred               776
                     VIP                     594
                     norm                    472
USA                  norm                    179
United Arab Emirates norm                     68
United Kingdom       Preferred            137450
                     VIP                   84185
                     norm                 132710
Unspecified          norm                    244

[76 rows x 1 columns]

In [57]:
grouped.sort_values(by='amount_spent', ascending=False)

                                    amount_spent
Country              Customer_Type
United Kingdom       Preferred            137450
                     norm                 132710
                     VIP                   84185
EIRE                 VIP                    7077
Germany              Preferred              4222
France               VIP                    3290
Germany              VIP                    3127
France               Preferred              3011
Netherlands          VIP                    2080
France               norm                   2041
Germany              norm                   1693
Belgium              Preferred              1503
Spain                Preferred              1058
                     norm                    916
Australia            VIP                     898
Switzerland          Preferred               776
Portugal             VIP                     681
Norway               Preferred               608
Switzerland          VIP                     594
Spain                VIP                     511
Italy                Preferred               507
Belgium              norm                    474
Switzerland          norm                    472
Norway               VIP                     420
Portugal             Preferred               412
                     norm                    369
Channel Islands      VIP                     364
Finland              VIP                     294
Netherlands          norm                    283
Italy                norm                    251
...                                          ...
Denmark              norm                    163
Cyprus               norm                    163
EIRE                 Preferred               161
Channel Islands      norm                    159
Austria              Preferred               158
Australia            norm                    157
Poland               Preferred               149
Canada               Preferred               135
Australia            Preferred               130
Greece               norm                    113
Sweden               Preferred                75
United Arab Emirates norm                     68
Malta                Preferred                67
Japan                Preferred                67
European Community   norm                     60
RSA                  norm                     58
Belgium              VIP                      54
Japan                norm                     49
Lebanon              Preferred                45
Malta                norm                     45
Norway               norm                     44
Denmark              VIP                      36
Lithuania            norm                     35
Israel               norm                     34
Greece               Preferred                32
Brazil               norm                     32
Czech Republic       norm                     25
Bahrain              norm                     17
Canada               norm                     16
Saudi Arabia         norm                      9

[76 rows x 1 columns]