# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [21]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [22]:
# enter your code here
orders = pd.read_csv("../../lab-subsetting-and-descriptive-stats/your-code/Orders.csv")
orders.head(1)

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.3

In [23]:
orders.sort_values(by ='UnitPrice', ascending=False).head(3)

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
118352,173382,551697,POST,2011,5,2,13,postage,1,2011-05-03 13:46:00,8142.75,16029,United Kingdom,8142.75
308846,422376,573080,M,2011,10,4,14,manual,1,2011-10-27 14:20:00,4161.06,12536,France,4161.06
308822,422351,573077,M,2011,10,4,14,manual,1,2011-10-27 14:13:00,4161.06,12536,France,4161.06

In [28]:
orders.sort_values(by =['Quantity', 'amount_spent'], ascending=False).head(3)

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
397451,540421,581483,23843,2011,12,5,9,"paper craft , little birdie",80995,2011-12-09 09:15:00,2.08,16446,United Kingdom,168469.6
37126,61619,541431,23166,2011,1,2,10,medium ceramic top storage jar,74215,2011-01-18 10:01:00,1.04,12346,United Kingdom,77183.6
370473,502122,578841,84826,2011,11,5,15,asstd design 3d paper stickers,12540,2011-11-25 15:57:00,0.00,13256,United Kingdom,0.0

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [27]:
#aggregate the  amount_spent for unique customers
orders.groupby(['CustomerID'])['amount_spent'].agg(['sum', 'mean', 'std']).sort_values(by='sum', ascending=False).head(3)

                  sum        mean         std
CustomerID
14646       280206.02  134.714433  170.033502
18102       259657.30  602.453132  691.620535
17450       194550.79  577.302047  819.507014

In [32]:
orders['amount_spent'].quantile([.5, .75, 0.95])

0.50    11.8
0.75    19.8
0.95    67.5
Name: amount_spent, dtype: float64

In [30]:
quants=[0.25, 0.75]

In [31]:
a=orders.get(orders['amount_spent'].quantile(quants))

In [15]:
from scipy import stats

def agg_mode(x):
    return(stats.mode(x)[0])

In [16]:
orders.groupby(['CustomerID'])['amount_spent'].agg(agg_mode)

CustomerID
12346    77183.60
12347       15.00
12348       41.76
12349       19.80
12350       15.00
12352       19.80
12353       11.60
12354       16.50
12355       25.50
12356       30.00
12357       10.08
12358       71.40
12359       15.00
12360       10.20
12361       16.50
12362       15.00
12363       13.20
12364       10.20
12365       15.00
12367       23.40
12370       15.00
12371       17.00
12372       10.50
12373       17.70
12374       12.60
12375       20.80
12377       10.08
12378       15.00
12379       16.50
12380       20.80
           ...
18242       15.00
18245        5.04
18246       29.50
18248       14.85
18249       15.00
18250       10.20
18251      252.00
18252        2.10
18255        9.90
18257       20.80
18259       50.40
18260       17.70
18261       15.00
18262        2.88
18263       30.00
18265       19.80
18268       25.50
18269       20.10
18270       15.00
18272       15.00
18273       51.00
18274       15.00
18276       12.48
18277       17.85
18278       15.00
18280       15.00
18281        5.04
18282       12.75
18283        1.65
18287       15.00
Name: amount_spent, Length: 4339, dtype: float64

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q2 below:

In [ ]:
# your code here